html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
body {
  background-color: #3E606F;
}
.cursor-pointer:hover {
  cursor: pointer;
}
.navbar.scrolled {
  background-color: #314B57;
  transition: background-color 100ms linear;
  box-shadow: 0px 0px 8px 2px #000000;
}
#jumbotron {
  margin-top: 8rem;
  background-image: url('../img/yuiizaa-september-eTBcQVZ_aS4-unsplash.jpg');
  background-size: cover;
}
.modal-content {
  background-color: #314B57;  
}
.partner-logo {
  width: 250px;
}
#news {
  margin-top: 8rem;
}
#news .news-card {
  background-color: #384A52;
  box-shadow: 0 0px 0px 0 #000000, 0 0px 5px 0 #000000;
}
#news .news-pagination {
  background-color: #384A52;
  box-shadow: 0 0px 0px 0 #000000, 0 0px 5px 0 #000000;
}
#news .card-img {
  height: 100%;
  width: 100%;
  background-size: cover !important;
}
.card-register {
  height: 100% !important;
}
.footer-container {
  background-color: #314B57;
  box-shadow: 0 -5px 8px -5px #000000;
}
.footer-container .footer-icon:hover {
  color: darkorange !important;
}

@media only screen and (max-width: 992px) {
  .navbar-mobile {
    box-shadow: 0px 0px 8px 2px #000000;
    background-color: #314B57;
  } 
}