html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
body {
  background-color: #3E606F;
}
.cursor-pointer:hover {
  cursor: pointer;
  color: orange;
}
.navbar.scrolled {
  background-color: #314B57;
  transition: background-color 100ms linear;
  box-shadow: 0px 0px 8px 2px #000000;
}
#jumbotron {
  margin-top: 8rem;
  background-image: url('../img/yuiizaa-september-eTBcQVZ_aS4-unsplash.jpg');
  background-size: cover;
}
.modal {
  background-color: rgba(0, 0, 0, 0.6);
}
.modal-content {
  background-color: #314B57;  
}
.latest-news {
  background-color: #384A52;
  box-shadow: 0 0px 0px 0 #000000, 0 0px 5px 0 #000000;
  border: none;
}
.partner-logo {
  width: 250px;
}
.navbar-margin {
  margin-top: 8rem;
}
.navbar-margin .news-card {
  background-color: #384A52;
  box-shadow: 0 0px 0px 0 #000000, 0 0px 5px 0 #000000;
}
.navbar-margin .news-pagination {
  background-color: #384A52;
  box-shadow: 0 0px 0px 0 #000000, 0 0px 5px 0 #000000;
}
.navbar-margin .card-img {
  height: 100%;
  width: 100%;
  background-size: cover;
  border: none;
}
.navbar-margin .card-gallery {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.card-body {
  height: 100%;
}
.card-gallery img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
.card-gallery:hover img {
  box-shadow: 0 0px 0px 0 #000000, 0 0px 5px 0 #000000;
	-webkit-transform: scale(1.1);
	transform: scale(1.03);
}
.card-register {
  height: 100% !important;
  overflow: hidden;
}
.footer-container {
  background-color: #314B57;
  box-shadow: 0 -5px 8px -5px #000000;
}
.footer-container .footer-icon:hover {
  color: darkorange !important;
}

@media only screen and (max-width: 992px) {
  .navbar-mobile {
    box-shadow: 0px 0px 8px 2px #000000;
    background-color: #314B57;
  } 
}